@page "/setting/domain/list"
@layout SettingsLayout

<Header Class="header d-flex" Style="padding: 0;">
    <h1 class="section-title">Hội thoại</h1>
</Header>
<Content>
    <div class="m-3 bg-white main">
        
    </div>
</Content>