@page "/setting/domain/list"
@layout SettingsLayout

<Header Class="header flex px-6">
    <h1 class="section-title font-bold text-base color-[#091e42] my-auto m-0">Tên miền</h1>
</Header>
<Content>
    <div class="m-3 bg-white main">
        
    </div>
</Content>