@inherits LayoutComponentBase

<PageTitle>AioCore.Web</PageTitle>

<div class="min-h-full">
    <Navigation></Navigation>
    <Header></Header>
    <main>
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <!-- Replace with your content -->
            <div class="sm:px-0">
                @Body
            </div>
            <!-- /End replace -->
        </div>
    </main>
</div>