@inherits LayoutComponentBase

<link rel="stylesheet" href="libs/bootstrap_4.css"/>
<link rel="stylesheet" href="/css/identity/iofrm-style.css"/>
<link rel="stylesheet" href="/css/identity/iofrm-default-style.css"/>
<link rel="stylesheet" href="/css/identity/iofrm-theme7.css"/>
<link rel="stylesheet" href="/css/identity/app.css"/>

<div class="form-body">
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
            <div class="info-holder">
                <img src="/images/side-vector.svg" alt="aioc"/>
            </div>
            <div class="footer-copyright">
                <img src="/images/copyright-white.png" alt="aioc"/>
            </div>
        </div>
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>