@page "/"
@using AioCore.Services
@layout EmptyLayout
@inject IPreviewService PreviewService

<div id="app"></div>

@code {

    [Inject]
    public IJSRuntime JsRuntime { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var html = await PreviewService.Preview("index", true);
        await JsRuntime.InvokeVoidAsync("SetInnerHtml", "app", html);
        await base.OnAfterRenderAsync(firstRender);
    }

}