<!DOCTYPE html>
<html lang="vi">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>

<h1 style="background: green">hello world</h1>
<script>
(() => {
    console.log("hello")
})();
</script>
</body>
</html>