body {
    background: #FAFAFA !important;
}

.wrapper-sider {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
}

.cursor-pointer {
    cursor: pointer !important;
}

.text-red {
    color: red;
}

.text-orange {
    color: orange;
}

.text-green {
    color: green;
}